Link to ChatGPT transcripts: 

https://chatgpt.com/share/66e38556-81d0-800d-8162-11786b2c3291

https://chatgpt.com/share/66e38585-25e0-800d-8932-658312763f41

Link to dataset: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv

In [40]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()
print("shape")
print(df.shape)

#Below is copy/pasted from ChatGPT
# Basic information about the dataset
print("Dataset Info:")
df.info()

# Descriptive statistics
print("\nDescriptive Statistics:")
print(df.describe(include='all'))

# Missing values summary
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

# Value counts for categorical columns (example: 'sex')
print("\nValue Counts for 'sex' column:")
print(df['sex'].value_counts())

shape
(891, 15)
Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

Descriptive Statistics:
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

Missing Values in Each Column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Value Counts for 'sex' column:
sex
male      577
female    314
Name: count, dtype: int64

To-do 2.2
Observation (Row): Each row in the dataset represents information of a single passenger that went on the Titanic, ie. Their survival status, gender, age, etc.
Variable (Column): Each column are a set of categorized data of specific characteristics of each passenger. For instance, a column only contains the gender of passengers.

To-do 4:

df.shape analyzes all columns whilst df.describe, by default, analyzes numerical columns. If there are non-numeric values in the dataset. df.describe() will have a smaller size than df.shape. However, by inputting an include='all', df.describe is still able to analyze all columns

df.shape outputs the amount of rows/columns in the dataset regardless of size. df.describe output the count of non-null values for each numeric value. If there are missing values, it always has smaller count than that of df.shape.

To-do 5:

An attribute is a variable that has an assigned value to it, they are often used to store information. We can access an attribute in the code directly. 

Method is a system of code related with an object and can make changes to or use with attributes. When executing a method, the method can be used to help output a specific value base on its definition in the shell.

To-Do 6:

count: number of non-blank entries in the column. Count help show how many data points there are for each column.

Mean: The average value of the column that illustrates where numbers are densely distributed around. It is given by the sum of values divided by count.

std(Standard Deviation): A measure of the spread of values from the mean. It describes the separation of values in a set of data. A high std value suggests that the data is more spread out, with a lower std value being the opposite and values are closer to the mean.

min: Smallest value in the column

25%: The first quartile, where the lowest 25% of the data lies

50%: The median, where 50% of the data lies

75%: The third quartile, where 75% of the data lies

max: Largest value in the column

To-do 7:

1.df.dropna() is more preferred than del df.['col'] when there are multiple missing data across multiple columns. For instance, if a dataset records CO2 emissions, there may be multiple missing value across different columns due to uncollected confidential data, or a country is unable to collect relevant information due to lack of technology or a year data is not applicable.

2.del df.['col'] is more preferable when values of a specific column needs to be removed. Either because it contains abundant NaN values or the data contained in that column is redundant. For instance, when analyzing performance of a video game character, defense data of a strength-based attacker is irrelevant when we want to analyze the amount of damage it deals.

3.Certain situations may require using both del df.['col'] and df.dropna. Usually organizing data in datasets with both data missing across multiple columns and abundant data missing in one column. For instance, if there is both missing data from past years for all countries and missing data from current years in certain countries for an environmental dataset. It is crucial to remove data from years where there is no data for all countries, then remove any country without a data for many years.

4.The below missing value indicates there is 177 people's age, 2 people's depart status/depart town, 688 people's deck level is missing. Since column 'deck' has over 50% of data missing, I need to remove that column individually so it does not remove data of 688 passengers if i use df.dropna. Therefore, I decide to remove the age and embarked_town and embarked column first using df.dropna(). When analyzing the survival data based on these three parameters (whether more people of a certain age is able to survive or if their survival data is related to their departure location), it is crucial to filter out people without relevant information.  After removing the age, embarked_town and embarked variable blanks, I will remove the deck variable so I remove all NaN values. Deck variable is not as relevant for data analysis as the missing data indicates that most people do not have a deck number assigned. The analysis of survival data base on 'deck' may also not be applicable to those without a 'deck' information.

In [34]:
#Before removal:

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

print(df)

# Missing values summary
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

Missing Values in Each Column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [96]:
#After removal

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

#first attempt with df.dropna('age','embark_town') does not work and I asked GPT
df.new = df.dropna(subset=['age','embark_town','embarked'],inplace=True)

#Delete deck column with del df ['column']
del df['deck']

print(df)

# Missing values summary
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
885         0       3  female  39.0      0      5  29.1250        Q   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male  embark_town alive  alone
0      man        True  Southampton    no  False
1    woman       False    Cherbourg   yes  False
2    woman       False  Southampton   yes   True
3    woman       False  Southampton   yes  False
4      man        True  Southampton    no   True
..     ...         ...          ...   ...    ...
885  woman       False   Queenstown    no  False
886    man        True  Southampton    no   True
887  woman       False  Southampton   yes   True
889    man        True    Cherbourg   yes   True
890    man        True   Queenstown    no   True

[712 rows x 14 columns]

Missing Values in Each Column:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

To-Do 8:

The method df.groupby("col1")["col2"].describe() summarizes statistics for the col2, a set of data that is categorized using values of column 1.

In [83]:
#Example for 8.1

import pandas as pd
file = "pima_indians_diabetes_subset.csv"
ds = pd.read_csv(file)

#Removing 0 values in variables, 0 stand for a blank value in the original csv file
ds[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = ds[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, pd.NA)

print(ds)

# Missing value summary
print("\nMissing Values in Each Column:")
print(ds.isnull().sum())

print('\ ')
#visually better lol

print('Demonstration of the method')
print(ds.groupby("Pregnancies")["Glucose"].describe())
#To be honest I think this dataset has too few values to deal with

   Pregnancies  Glucose BloodPressure SkinThickness Insulin   BMI  \
0            6    148.0            72            35    <NA>  33.6
1            1     85.0            66            29    <NA>  26.6
2            8    183.0            64          <NA>    <NA>  23.3
3            1     89.0            66            23      94  28.1
4            0    137.0            40            35     168  43.1
5            5    116.0            74          <NA>    <NA>  25.6
6            3     78.0            50            32      88   NaN
7           10    115.0          <NA>            35    <NA>  35.3
8            2    197.0            70            45     543  30.5
9            8      NaN            82            31    <NA>  24.0

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
5                     0.201   30        0
6                     0.248   26        1
7                     0.134   29        0
8                     0.158   53        1
9                     0.364   32        0

Missing Values in Each Column:
Pregnancies                 0
Glucose                     1
BloodPressure               1
SkinThickness               2
Insulin                     6
BMI                         1
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
\
Demonstration of the method
             count   mean       std    min    25%    50%    75%    max
Pregnancies
0              1.0  137.0       NaN  137.0  137.0  137.0  137.0  137.0
1              2.0   87.0  2.828427   85.0   86.0   87.0   88.0   89.0
2              1.0  197.0       NaN  197.0  197.0  197.0  197.0  197.0
3              1.0   78.0       NaN   78.0   78.0   78.0   78.0   78.0
5              1.0  116.0       NaN  116.0  116.0  116.0  116.0  116.0
6              1.0  148.0       NaN  148.0  148.0  148.0  148.0  148.0
8              1.0  183.0       NaN  183.0  183.0  183.0  183.0  183.0
10             1.0  115.0       NaN  115.0  115.0  115.0  115.0  115.0

In [15]:
#To-do 8.2

import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

print(df.groupby("age")["fare"].describe())

       count      mean        std       min       25%       50%       75%  \
age
0.42     1.0    8.5167        NaN    8.5167    8.5167    8.5167    8.5167
0.67     1.0   14.5000        NaN   14.5000   14.5000   14.5000   14.5000
0.75     2.0   19.2583   0.000000   19.2583   19.2583   19.2583   19.2583
0.83     2.0   23.8750   7.247845   18.7500   21.3125   23.8750   26.4375
0.92     1.0  151.5500        NaN  151.5500  151.5500  151.5500  151.5500
...      ...       ...        ...       ...       ...       ...       ...
70.00    2.0   40.7500  42.779960   10.5000   25.6250   40.7500   55.8750
70.50    1.0    7.7500        NaN    7.7500    7.7500    7.7500    7.7500
71.00    2.0   42.0792  10.500536   34.6542   38.3667   42.0792   45.7917
74.00    1.0    7.7750        NaN    7.7750    7.7750    7.7750    7.7750
80.00    1.0   30.0000        NaN   30.0000   30.0000   30.0000   30.0000

            max
age
0.42     8.5167
0.67    14.5000
0.75    19.2583
0.83    29.0000
0.92   151.5500
...         ...
70.00   71.0000
70.50    7.7500
71.00   49.5042
74.00    7.7750
80.00   30.0000

[88 rows x 8 columns]

To-do 8.2

df. describe() automatically exclude blanks in each column in the dataset. The count in the method represents the number of non-null values of that column. For df.groupby("col1")["col2"].describe() method, the method counts numbers of non-null values in column2 relative to each col1 group. For instance, for the above code, if col1 = age, then df.groupby("col1")["col2"].describe() method counts the number of non-null values in col2 for each age group.

Fundamentally df.describe() summarizes columns separately, the count for this method reflects the number of non-null entries in each column without taking in account of a column's connection with one another. While df.describe treats the dataset as a whole, in df.groupby("col1")["col2"].describe() datasets of col2 are treated as groups of data separated by col1. Then df.groupby("col1")["col2"].describe() is summarizing data of col2 relative to col1. It calculates data for col2 after categorized into each group in col1. This allows df.groupby("col1")["col2"].describe() to focus the relationship between 2 columns.

To-do 8.3 Error and troubleshooting

In [1]:
#8.3A import Error

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()

#Both google and chatgpt was able to identify the errors, GPT was able to provide a new code that instructs to execute the import cell hence more efficient

NameError: name 'pd' is not defined

In [16]:
#8.3B File not found Error
import pandas as pd
url = "titanics.csv"
df = pd.read_csv(url)
df.isna().sum()

#GPT was able to provide me a correct code to the url for me to execute the code. Google instructed me to read the directory of url carefully only. GPT was more efficient

FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [4]:
#8.3C Name Error
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df.isna().sum()
print(ds.groupby("age")["pclass"].describe())

#Gpt told me to change the 'ds' in line 6 into df so the code is executed correctly. Google only insisted that ds is not defined. GPT was more efficient

NameError: name 'ds' is not defined

In [5]:
#8.3D Syntax Error
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url

SyntaxError: incomplete input (4083873413.py, line 4)

8.3D: I did not give GPT a copy of my code, but it was able to read that something was missing and provided me a copy of the correct code. Google returned a general answer on fixing my structure. I think in this case both Google and GPT would be efficient. Google is more efficient for shorter codes like what I have above, since the error is easy to read. In much longer codes GPT would be able to read the specific parts for errors and return a set of correct code.

In [8]:
#8.3E Attribute Error
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
print(df.groupby("sex")["age"].descrbie())

#GPT successfully indicated a typo in describe and gave me a code to fix it. Google was able to give relevant search results on attribute error but did not mention about typos. So GPT was more efficient/

AttributeError: 'SeriesGroupBy' object has no attribute 'descrbie'

In [9]:
#8.3F Key Error
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
print(df.groupby("Sex")["age"].describe())

KeyError: 'Sex'

Inputting the error in GPT, that chatbot returned that the column 'Sex' does not exist and fixed that it is actually 'sex' and gave me a correct version of the code. Google did also return relevant results about the key erroe saying there are name errors but GPT was more efficient in helping me identify the error.

In [12]:
#8.3G Key Error
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
print(df.groupby(sex)['age'].describe())

#GPT successfully identified that i did not use quotations around column 'sex'. Google returned that I may have potential spelling mistakes. GPT is more efficient in locating the problem.

NameError: name 'sex' is not defined